# === Go ===
# Ignore executable files (Binaries)
*.exe
*.exe~
*.dll
*.so
*.dylib

# the current building program
/tetris-optimizer
*.gocache
*.guides
.gitignore
cover.out
coverage.out
tetris-optimizer_audit.md
Project_Rules/

# === VS Code ===
.vscode/
*.code-workspace

# === OS Files ===
Thumbs.db
.DS_Store

# === Logs ===
*.log
temp/

